#start{

    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    background-color:transparent;
    cursor: pointer;
    text-shadow : 0 4px 4px azure;
    animation: color 2s  ease-in-out infinite ;
    font-family: monospace;
    color: white;

    

}
#info{

    float:right;
    animation: none;
}
#container{
    text-align: center;
    /* background-color: black; */
}
body{
    /* background-color: black; */
    background-image: url(abc.png);

}

#ball{
    border-radius: 50%;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    position: relative;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(black,white);
    text-align: center;
    animation: ball 2s  linear infinite alternate ;
}
#bar1{
    width: 20vw;
    height: 12px;
    border:solid;
    border-width:0.5px ;
    border-radius: 5px; 
    background-image: linear-gradient(red,white);   
    position: absolute;
    top: 0%;
}

#bar2{
    width: 20vw;
    height: 12px;
    border:solid;
    border-radius: 5px;
    border-width:0.5px ;
    background-image: linear-gradient(white,red);   

    position: absolute;
    bottom: 0%;
    animation: linear;

}

@keyframes ball{

  
    100%{
       transform: rotate(360deg);
       /* transform: rotatex(360deg); */

    }

}
@keyframes color{

  
       

    0%{
        
       transform: scale(1.2);
       /* transform: rotatex(360deg); */

    }
    50%{

       transform: scale(1.5);

    }
    100%{
       transform: scale(1.2);

    }
}

#score{
    position: fixed;
    top: 40%;
    right: 0%;
    padding: 10px;
    font-size: xx-large;
    color: aliceblue;
}